---
import { Image } from "astro:assets";
import Cobe from "@components/cobe.astro";
import Link from "@components/ui/link.astro";
import abstractDottedGlobeIllustration from "assets/abstract-dotted-globe-illustration.png";
import { t } from "i18next";

const { dynamic = false } = Astro.props;

import Link from '@components/ui/link.astro';
const { heading, subheading } = Astro.props;
---

<div class="relative isolate px-6 pt-10 lg:px-8 pb-28 rounded-lg bg-gray-800">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true"></div>
    <div class="mx-auto max-w-2xl another">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
            <div class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20"></div>
        </div>
        <div class="text-center">
            <h1 class="text-4xl font-bold tracking-tight text-white">{heading}</h1>
            <p class="mt-2 text-lg leading-8 text-gray-300">{subheading}</p>
        </div>
        <div class="flex items-center justify-center mt-5 space-x-2 flex-wrap">
            <Link
                href="/"
                class="flex items-center px-4 py-2 bg-white-800 text-black font-semibold rounded-s shadow-md transition-colors duration-300 ease-in-out hover:bg-gray-200 active:bg-gray-200 my-1"
            >
                <span class="ml-1">TikTok Video</span>
            </Link>
            <Link
                href="/tiktok-sound-downloader"
                class="flex items-center px-8 py-2 bg-white bg-opacity-70 text-black font-semibold rounded-s shadow-md transition-colors duration-300 ease-in-out hover:bg-gray-100 hover:bg-opacity-80 active:bg-gray-200 my-1"
            >
                <span class="ml-1">MP3</span>
            </Link>
            <Link
                href="/tiktok-slideshow-downloader"
                class="flex items-center px-8 py-2 bg-white bg-opacity-70 text-black font-semibold rounded-s shadow-md transition-colors duration-300 ease-in-out hover:bg-gray-100 hover:bg-opacity-80 active:bg-gray-200 my-1"
            >
                <span class="ml-1">Photo</span>
            </Link>
            <Link
                href="/tiktok-story-downloader"
                class="flex items-center px-8 py-2 bg-white bg-opacity-70 text-black font-semibold rounded-s shadow-md transition-colors duration-300 ease-in-out hover:bg-gray-100 hover:bg-opacity-80 active:bg-gray-200 my-1"
            >
                <span class="ml-1">Story</span>
            </Link>
        </div>



        <div class="relative max-w-xl mx-auto mt-8">
            <form class="block items-center sm:space-x-4 sm:flex sub-form">
                <div class="relative flex-1">
                    <input
                        type="text"
                        placeholder="Paste your link here..."
                        class="w-full pr-12 pl-4 py-3 outline-none rounded-lg bg-gray-900 text-white placeholder-gray-500 transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent down-url"
                        style="box-shadow: 0 0 2px rgb(255, 255, 255) !important;"
                    />
                </div>
                <button
                    class="px-6 py-3 bg-gradient-to-r from-indigo-500 to-indigo-600 text-white font-semibold rounded-lg shadow-lg transition-all duration-300 hover:from-indigo-600 hover:to-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 outline-none
                    mt-2 sm:mt-0 w-full sm:w-auto send-btn cursor-pointer"
                    type="submit"
                >
                    Download
                </button>
            </form>
        </div>




    </div>
</div>

<div class="loader items-center justify-center hidden">
    <img src="/src/icons/loader.webp" alt="" />
</div>

<div class="bg-gradient-to-br py-16 px-4 sm:px-6 lg:px-8 main-div hidden">
    <div class="max-w-7xl mx-auto">
        <h2></h2>
        <h2 class="text-2xl font-extrabold text-center mb-4 shadow-text msg break-all"></h2>
        <div class="flex flex-wrap justify-center gap-8">
            <div class="gap-8 down-div grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1"></div>
        </div>
    </div>
</div>

<style>
    .shadow-text {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .flex {
        align-items: flex-start;
    }
</style>

<script type="module">
    import h from '/src/assets/js/s.js';

    let submitForm;
    let mainDiv;
    let downDiv;
    let message;
    let loader;
    let e, s, r;
    const baseURL = 'https://download.stiktokio.com';
    const errorClass = 'text-red-600';
    const simpleClass = 'text-white';
    const imageClass = 'w-full h-full object-cover rounded-lg mb-6';
    const h3Class = 'text-2xl font-semibold text-white text-center mb-4';
    const anchorClass =
        'block w-full bg-gradient-to-r from-pink-500 to-red-500 text-white font-bold py-3 px-4 rounded-lg text-center transition-all duration-300 hover:from-pink-600 hover:to-red-600 hover:shadow-lg';

    function init() {
        // DOM elements ko dobara select karna
        submitForm = document.querySelector('.sub-form');
        mainDiv = document.querySelector('.main-div');
        downDiv = document.querySelector('.down-div');
        message = document.querySelector('.msg');
        loader = document.querySelector('.loader');

        // Submit event listener lagana
        submitForm.addEventListener('submit', dt);

        // Initial data fetch karna
        SendFirstRequestToServer();
    }

    function addPosition(data) {
        e = data.layout;
        s = data.cards;
        r = data.cards_position;
    }

    function showLoader() {
        if (loader.classList.contains('hidden')) {
            loader.classList.remove('hidden');
            loader.classList.add('flex');
        } else {
            loader.classList.add('flex');
        }
    }

    function hideLoader() {
        if (loader.classList.contains('flex')) {
            loader.classList.remove('flex');
            loader.classList.add('hidden');
        } else {
            loader.classList.add('hidden');
        }
    }

    function SendFirstRequestToServer() {
        fetch(`${baseURL}/position`, {
            method: 'get',
        })
            .then((response) => response.json())
            .then((res) => {
                addPosition(res);
            })
            .catch((err) => {
                showError(err);
            });
    }

    function showError(errorMsg) {
        if (mainDiv.classList.contains('hidden')) {
            mainDiv.classList.add('flex');
            mainDiv.classList.remove('hidden');
        }
        if (message.classList.contains(simpleClass)) {
            message.classList.remove(simpleClass);
            message.classList.add(errorClass);
        } else {
            message.classList.add(errorClass);
        }
        message.textContent = errorMsg;
    }

    function dc() {
        if (e && s && r) {
            const dc = h(e, r, s);
            if (dc) {
                return dc;
            } else {
                showError('Please reload page and try again later.');
                return false;
            }
        } else {
            showError('Please wait a few seconds.');
            return false;
        }
    }

    function showDataOnPage(data) {
        if (data.thumbnail) {
            showVideoDataOnPage(data);
        } else {
            showImageDataOnPage(data);
        }
    }

    function scrollToElement(className) {
        var element = document.querySelector(`.${className}`);
        if (element) {
            element.scrollIntoView({ behavior: 'smooth', block: 'end' });
        } else {
            console.log('Element not found');
        }
    }

    function deleteAllDownloadDivs() {
        let ddDivs = document.querySelectorAll('.ddDiv');

        if (ddDivs.length >= 1) {
            ddDivs = Array.from(ddDivs);
            for (const element of ddDivs) {
                element.remove();
            }
        }

        if (!mainDiv.classList.contains('hidden')) {
            mainDiv.classList.add('hidden');
            mainDiv.classList.remove('flex');
        }
        message.textContent = '';
    }

    function showImageDataOnPage(data) {
        mainDiv.classList.remove('hidden');
        message.classList.add(simpleClass);

        data.formats.forEach((format) => {
            if (format.type === 'image') {
                const dnDiv = document.createElement('div');
                dnDiv.className = 'bg-gray-800 rounded-xl shadow-2xl overflow-hidden transform transition-all duration-300 w-full ddDiv';

                const dnButtonDiv = document.createElement('div');
                const dnButton = document.createElement('a');
                dnButton.className =
                    'block w-full bg-gradient-to-r from-pink-500 to-purple-500 text-white font-bold py-3 px-4 rounded-lg text-center transition-colors duration-300 hover:opacity-90 my-3';

                const img = document.createElement('img');
                img.className = 'h-auto object-cover rounded-lg mb-6 w-full max-h-[400px]';
                img.alt = data.title;
                img.src = format.imgURL;

                dnButton.innerText = 'Download Photo';
                dnButton.href = `${baseURL}${format.link}`;
                dnButton.target = '_blank';

                dnDiv.appendChild(img);
                dnButtonDiv.append(dnButton);
                dnDiv.append(dnButtonDiv);
                downDiv.appendChild(dnDiv);
            } else if (format.type == 'audio') {
                const dnDiv = document.createElement('div');
                dnDiv.className = `bg-gray-800 rounded-xl shadow-2xl overflow-hidden transform transition-all duration-300 w-full ddDiv block order-2 lg:col-span-${data.formats.length - 1} md:col-span-2 col-span-1`;

                const dnButton = document.createElement('a');
                dnButton.className =
                    'block w-full bg-gradient-to-r from-pink-500 to-purple-500 text-white font-bold py-3 px-4 rounded-lg text-center transition-colors duration-300 hover:opacity-90 my-3';

                dnButton.innerText = 'Download MP3';
                dnButton.href = `${baseURL}${format.link}`;
                dnButton.target = '_blank';

                dnDiv.append(dnButton);
                downDiv.appendChild(dnDiv);

                const anotherButton = document.createElement('button');
                anotherButton.className =
                    'block w-full bg-gradient-to-r from-pink-500 to-purple-500 text-white font-bold py-3 px-4 rounded-lg text-center transition-colors duration-300 hover:opacity-90 my-3';
                anotherButton.textContent = 'Download Another';
                anotherButton.addEventListener('click', () => {
                    document.querySelector('.another').scrollIntoView({ behavior: 'smooth' });
                });

                dnDiv.appendChild(anotherButton);
            }
        });
    }

    function showVideoDataOnPage(data) {
        const dnDiv = document.createElement('div');
        const dnButtonDiv = document.createElement('div');
        const thumbnail = document.createElement('img');
        dnDiv.className = 'bg-gray-800 rounded-xl shadow-2xl overflow-hidden transform transition-all duration-300 w-full w-96 md:w-[650px] md:flex p-4 ddDiv gap-5 col-span-2';
        thumbnail.className = 'block mb-6 md:mb-0 rounded-lg md:w-[50%] md:h-[345px]';

        if (mainDiv.classList.contains('hidden')) {
            mainDiv.classList.remove('hidden');
            mainDiv.classList.add('flex');
        } else {
            mainDiv.classList.add('flex');
        }
        if (!message.classList.contains(simpleClass)) {
            message.classList.add(simpleClass);
        }
        message.textContent = data.title;
        thumbnail.alt = data.title;
        thumbnail.src = data.thumbnail;

        downDiv.appendChild(dnDiv);
        dnDiv.appendChild(thumbnail);
        dnDiv.appendChild(dnButtonDiv);

        for (let format of data.formats) {
            const dnButton = document.createElement('a');
            dnButton.className = 'block w-full bg-gradient-to-r from-pink-500 to-purple-500 text-white font-bold py-3 px-4 rounded-lg text-center transition-colors duration-300 hover:opacity-90 my-3';

            if (!format.hd && !format.watermark && format.type === 'video') {
                dnButton.innerText = 'Download without watermark';
                dnButton.href = `${baseURL}${format.link}`;
                dnButtonDiv.append(dnButton);
                dnButton.target = '_blank';
            } else if (format.hd && !format.watermark && format.type === 'video') {
                dnButton.innerText = 'Download without watermark (HD)';
                dnButton.href = `${baseURL}${format.link}`;
                dnButtonDiv.append(dnButton);
                dnButton.target = '_blank';
            } else if (format.hd && format.watermark && format.type === 'video') {
                dnButton.innerText = 'Download watermark';
                dnButton.href = `${baseURL}${format.link}`;
                dnButtonDiv.append(dnButton);
                dnButton.target = '_blank';
            } else if (!format.hd && !format.watermark && format.type === 'audio') {
                dnButton.innerText = 'Download MP3';
                dnButton.href = `${baseURL}${format.link}`;
                dnButtonDiv.append(dnButton);
                dnButton.target = '_blank';
            }
        }
        const anotherButton = document.createElement('button');
        anotherButton.className =
            'block w-full bg-gradient-to-r from-pink-500 to-purple-500 text-white font-bold py-3 px-4 rounded-lg text-center transition-colors duration-300 hover:opacity-90 my-3';
        anotherButton.textContent = 'Download Another';
        anotherButton.addEventListener('click', () => {
            document.querySelector('.another').scrollIntoView({ behavior: 'smooth' });
        });

        dnButtonDiv.appendChild(anotherButton);

        scrollToElement('main-div');
    }

    function dt(e) {
        e.preventDefault();
        const url = document.querySelector('.down-url').value;

        const enc = dc();
        if (!enc) {
            scrollToElement('main-div');
            return;
        }

        deleteAllDownloadDivs();
        showLoader();

        fetch(`${baseURL}/download`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'x-auth-token': enc,
            },
            body: JSON.stringify({ url: url }),
        })
            .then((res) => res.json())
            .then((response) => {
                if (response.error && response.ex) {
                    window.location.reload();
                }
                if (response.error) {
                    showError(response.msg);
                }
                if (!response.error) {
                    showDataOnPage(response);
                    scrollToElement('main-div');
                }
            })
            .catch((err) => {
                showError(err);
            })
            .finally(() => {
                hideLoader();
            });
    }

    // Clean-up function
    function cleanup() {
        if (submitForm) {
            submitForm.removeEventListener('submit', dt);
        }
    }

    // Initialize on first load
    document.addEventListener('DOMContentLoaded', init);

    // Cleanup before Astro page swap
    document.addEventListener(
        'astro:before-swap',
        () => {
            cleanup();
        },
        { once: true }
    );

    // Re-initialize after swapping pages
    document.addEventListener('astro:after-swap', init);
</script>
